h1,
form {
    margin: 20px;
    text-align: center;
}

form {
    max-width: 600px;
    margin: 0 auto 100px;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 8px;
}

label {
    display: block;
    margin: 10px 0;
}

input[type="text"],
textarea,
input[type="file"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    box-sizing: border-box;
}

form ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

form ul li {
    margin-bottom: 10px;
    display: flex;
    align-items: center;
}

button {
    background-color: #4CAF50;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-left: 5px;
}

button:hover {
    background-color: #45a049;
}

button.delete {
    background-color: #ff6347;
}

button.delete:hover {
    background-color: #ff473a;
}

button.save {
    background-color: #008CBA;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-top: 10px;
}

button.save:hover {
    background-color: #0077A6;
}