/* perfil.css */

.user-info-box {
    background-color: #f2f2f2;
    border: 1px solid #ddd;
    padding: 20px;
    margin: 20px;
    text-align: center;
}

.user-info {
    max-width: 300px;
    margin: 50px auto;
}

.user-info-item {
    margin: 10px 0;
    font-size: 36px;
}

.userRecipes h2 {
    font-family: 'Besley', sans-serif;
    font-size: 48px;
    text-decoration: underline;
    margin-bottom: 0px;
}

.recipes-list {
    list-style: none;
    /* Remove bullet dots */
    padding: 0;
    font-size: 32px;
    margin: 0 auto;
}

.recipe-link {
    text-decoration: none;
    color: #000;
}

.recipe-link:hover {
    text-decoration: underline;
}

.logout-button {
    background-color: #7F4829;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-family: 'Roboto Slab', sans-serif;
    font-size: 24px;
    margin-top: 50px;
    margin-bottom: 100px;
}

.logout-button:hover {
    background-color: #60412C;
}